.doc {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(35, 35, 35);
}

.title {
  margin-top: -1px;
  margin-bottom: -5px;
}

.link {
  background-color: rgb(60, 60, 60);
  padding: 4px;
  text-decoration: none;
  color: rgb(173, 255, 121);
}
