.doc {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 10px;
  width: 20rem;
  background-color: rgb(255, 225, 95);
}

.title {
  margin-top: -1px;
  margin-bottom: -5px;
}

.desc {
  margin-bottom: -1px;
}
