.index {
  padding: 0 20px;
}

.direc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: -20px;
}

.directory {
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}

.pug-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.desc {
  font-style: italic;
}

.puggy {
  width: 20rem;
}
